/* Fonts */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v12-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/inter-v12-latin_cyrillic-regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/inter-v12-latin_cyrillic-500.woff2') format('woff2'),
       url('../fonts/inter-v12-latin_cyrillic-500.woff') format('woff');
}
@font-face {
  font-family: "suisse_intlblack";
  src: url("../fonts/suisseintl-black-webfont.woff2") format("woff2"),
    url("../fonts/suisseintl-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "suisse_intlbold";
  src: url("../fonts/suisseintl-bold-webfont.woff2") format("woff2"),
    url("../fonts/suisseintl-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "suisse_intlmedium";
  src: url("../fonts/suisseintl-medium-webfont.woff2") format("woff2"),
    url("../fonts/suisseintl-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "suisse_intlregular";
  src: url("../fonts/suisseintl-regular-webfont.woff2") format("woff2"),
    url("../fonts/suisseintl-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}
button:not([disabled]) {
  cursor: pointer;
}

/* Common styles */
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #23395e;
  color: #647288;
  font-size: 16px;
  font-family: "suisse_intlregular";
}
.preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #23395e;
  top: 0;
  z-index: 9999;
}
.preloader__inner{
  width: 50px;
  height: 50px;
  border: 6px solid transparent;
  border-bottom: 6px solid #0baeca;
  border-left: 6px solid #0baeca;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 1s infinite linear;
}
@keyframes animate{
0%{
  transform: rotate(0);
}
100%{
  transform: rotate(360deg);
}
}
.wrapper {
  width: 100%;
}
.wrapper_main {
  padding-bottom: 50px;
}
.wrapper_login {
  background: url(../images/bg-main-top.png) 0% -10% no-repeat,
    url(../images/bg-main-bottom.png) 100% 100% no-repeat;
  background-size: auto auto;
  overflow: hidden;
}
.wrapper__bg {
  position: absolute;
  z-index: -1;
}
.wrapper__bg_top {
  top: -45px;
  mix-blend-mode: soft-light;
}
.wrapper__bg_bottom {
  top: 378px;
  mix-blend-mode: soft-light;
  height: 630px;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container_login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper__inner {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 2fr;
  grid-gap: 30px;
  height: 100%;
  align-items: flex-start;
}
.text-blue {
  color: #0ee9ff;
}
.link {
  color: #02C8DC;
  text-decoration: underline;
}
.button-blue {
  display: block;
  width: 315px;
  background: linear-gradient(180deg, #08B1C4 0%, #7EEDFA 100%);
  border-radius: 15px;
  height: 57px;
  font-size: 18px;
  line-height: 21px;
  font-family: "suisse_intlmedium";
  text-align: center;
  color: #ffffff;
  margin-top: 35px;
  cursor: pointer;
}
.button-blue_form {
  margin-top: 0;
  width: 220px;
}
.button-blue_file-form {
  margin-top: 0;
  flex: 1;
}
.button-blue:hover {
  background: linear-gradient(180deg, #7EEDFA 0%, #08B1C4 100%);
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color: transparent;}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color: transparent;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
.hide {
  display: none;
}

/* Login page styles */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__block_left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.login__logo {
  width: 230px;
  margin-bottom: 35px;
}
.login__title {
  max-width: 570px;
  font-family: "suisse_intlbold";
  font-size: 60px;
  line-height: 70px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}
.login__arrow {
  margin: 0 65px;
}
.login-form {
  position: relative;
  width: 417px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  border-radius: 15px;
  padding: 35px 55px 50px 55px;
  color: #ffffff;
}
.login-form::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(165deg, rgb(18, 217, 242), transparent 50%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px)
      content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}
.form__header {
  margin-bottom: 20px;
  font-size: 24px;
}
.form__field {
  width: 306px;
  height: 48px;
  border-radius: 200px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 15px;
  outline: none;
}
.password {
  position: relative;
}
.password__control {
  position: absolute;
  top: 17px;
  right: 15px;
  display: inline-block;
  width: 19px;
  height: 12px;
  background-image: url(../images/svg/eye.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.password__control.view::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  top: 5px;
  position: absolute;
}
.form__field::placeholder {
  color: #ffffff;
  font-size: 15px;
  font-family: "suisse_intlregular";
}
.form__check {
  display: flex;
  margin: 25px 0;
}
.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative;
  line-height: 19px;
  font-size: 14px;
}
.form__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 12px;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 8px;
}
.form__checkbox:checked + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 14px;
  height: 14px;
  background-color: #0ee9ff;
  border-radius: 4px;
}
.login-form__message {
  text-align: center;
  margin-bottom: 25px;
  border: 2px solid red;
  font-size: 15px;
  line-height: 29px;
  height: 32px;
}
.form__button {
  width: 312px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#08b1c4),
    to(#7eedfa)
  );
  background: linear-gradient(180deg, #08b1c4, #7eedfa);
  border-radius: 35px;
  color: #ffffff;
  transition: all 0.2s linear;
}
.form__button:hover {
  -webkit-box-shadow: 0 0 55px rgb(29 241 255 / 44%), inset 0 -5px 18px #d0faff;
  box-shadow: 0 0 55px rgb(29 241 255 / 44%), inset 0 -5px 18px #d0faff;
}

/* Header styles */
.header {
  padding: 30px 0;
}
.header__logo {
  width: 156px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 55px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  border-radius: 300px;  
  padding: 0 26px;
  height: 55px;
}
.search.open {
  flex: 1;
}
.search::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(165deg, rgb(18, 217, 242), transparent 50%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px)
      content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}
.search__icon {
  display: block;
  width: 19px;
  height: 19px;
  background-image: url(../images/svg/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 18px;
  top: 17px;
  transition: all .3s linear;
}
.search__icon:hover {
  transform: scale(1.2);
}
.search__field {
  width: 100%;  
  border: none;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  font-weight: 500;
  background: transparent;
}
.search__field::placeholder {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
}
.user {
  width: 55px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px;
  margin-left: 18px;
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  border-radius: 300px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  cursor: pointer;
}
.user::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(165deg, rgb(18, 217, 242), transparent 50%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px)
      content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}
.user__image {
  transition: all .3s linear;
}
.user__image:hover {
  transform: scale(1.2);
}
.user__inner {
  display: none;
  align-items: center;
  margin-left: 14px;
  font-family: "Inter";
  font-weight: 500;
}
.user:hover {
  width: auto;
}
.user:hover .user__inner{
  display: flex;
}
.user__icon {
  margin-left: 24px;
  filter: drop-shadow(0 4px 2px #1f3c6d) drop-shadow(0 0 15px rgba(0,255,240,1));  
}

/* Navigation styles */
.menu {
  width: 100%;
}
.menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  border-radius: 20px;
  padding: 16px 13px;
}
.menu-wrapper::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(165deg, rgb(18, 217, 242), transparent 50%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px)
      content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
  z-index: -1;
}
.menu li.showed .menu__title {
  color: rgb(255, 255, 255, 1);
}
.menu__item {
  width: 100%;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: gray;
  border: 1px solid transparent;
}
.menu__item.open {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.15);  
  border-radius: 15px;
  backdrop-filter: blur(16.5px);
}
.menu__item.open > .submenu {
  max-height: 100%;
  padding: 0 19px 9px 19px;
}
.menu li.active .menu__title{
  color: #0EE9FF;
  text-shadow: 0px 0px 33px #0EE9FF;
  position: relative;
}
.menu__icon {
  margin: 0 16px 3px 0;
}
.menu__item.active .menu__icon {
  filter: drop-shadow(0 4px 2px #1f3c6d) drop-shadow(0 0 15px rgba(0,255,240,.7));
}
.menu__item.open .menu__icon {
  filter: drop-shadow(0 4px 2px #1f3c6d) drop-shadow(0 0 15px rgba(0,255,240,.7));
}
.menu__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 19px;
  line-height: 55px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: gray;
  font-size: 16px;
  font-family: "suisse_intlregular";
}
.menu li.open .menu__title {
  color: #0EE9FF;
  text-shadow: 0px 0px 33px #0EE9FF;
  position: relative;
}
.menu__item.active .menu__title {
  background-color: transparent;
  backdrop-filter: none;
}
.submenu__item.open .submenu_main {
  padding: 0 19px 9px 19px;
}
.submenu {
  max-height: 0;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
}
.submenu__item button {
  padding: 15px 15px 3px 27px;
  transition: all .3s linear;
  color: rgb(255, 255, 255, 0.6);
  line-height: 25px;
  font-size: 14px;
  font-weight: 400;
  font-family: "suisse_intlregular";
  text-align: left;
}
.submenu__item.open .submenu__title {
  color: #ffffff;
}
.submenu__item.showed .submenu__button {
  color: #ffffff;
}
.submenu__item.showed .submenu__title {
  color: #ffffff;
}
.submenu__item_sub.showed button {
  color: #ffffff;
}
.submenu__item_sub.active button {
  color: #0EE9FF;
}
.submenu__item.active .submenu__button {
  color: #0EE9FF;
}
.submenu__item:hover {
  color: #0EE9FF;
}
.submenu__item.open > .submenu {
  max-height: 1100px;
}
.submenu__title_icon {
  position: relative;
}
.submenu__title_icon::before {
  content: '+';
  color: #0EE9FF;
  font-size: 16px;
  display: block;
  position: absolute;
  left: 6px;
  top: 14px;
}
.submenu__item.open .submenu__title_icon::before {
  content: '-';
}

/* Main content styles */
.content__wrapper {
  /* height: 100%; */
}
.tab-content {
  height: calc(100% - 87px);
}
.tab-content.open {
  height: 100%;
}
.tab-content__item {
  display: none;
  height: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 35px 46px 30px 47px;
}
.tab-content__item_search-res {
  display: block;
}
.tab-content__item.active {
  display: block;
}
.tab-buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 22px;
  align-items: center;
  margin-top: 30px;
}
.tab-button {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  flex: 1;
  height: 57px;
  border-radius: 15px;
  padding: 0 20px;
  transition: all .3s linear;
  cursor: pointer;
}
.tab-button[disabled] {
  cursor: not-allowed;
}
.tab-button:not([disabled]):hover {
  transform: scale(0.9);
}
.tab-button_prev {
  border: 2px solid #FFFFFF;  
  background-image: url(../images/svg/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.tab-button_next {
  background: linear-gradient(180deg, #08B1C4 0%, #7EEDFA 100%);
}
.tab-button_next::after {
  content: '';
  display: block;
  width: 24px;
  height: 16px;
  background-image: url(../images/svg/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 20px;
  top: 20px;
}
.article__wrap {
  display: none;
  justify-content: space-between;
}
.article__title {
  color: #23395E;
  font-size: 30px;
  line-height: 34px;
  font-family: "suisse_intlbold";
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E2E8F1;
}
.article__title_no-border {
  padding-bottom: 0;
  border-bottom: none;
}
.article h3 {
  color: #23395E;
  font-size: 24px;
  line-height: 23px;
  font-family: "suisse_intlbold";
  margin-bottom: 10px;
}
.subtitle-quiz {
  color: #23395E;
  font-size: 24px;
  line-height: 23px;
  font-family: "suisse_intlbold";
  margin-bottom: 20px;
}
.article p {
  line-height: 23px;
  margin-bottom: 20px;
}
.article b {
  color: #23395e;
}
.article p:last-child {
  margin-bottom: 0;
}
.article ul {
  margin-bottom: 20px;
  padding-left: 20px;
}
.article a {
  color: #03A9F4;
  text-decoration: underline;
}
.blue {
  color: #03A9F4;
}
.article img {
  display: block;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 20px;
}
.article__inner {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid #000;
  border-width: 1px 1px 0 1px;
  margin-bottom: 10px;
  color: #000;
}
.table__block {
  padding-left: 5px;
  border-bottom: 1px solid #000;
}
.table__block_left {
  width: 30%;
  border-right: 1px solid #000;
}
.table__block_right {
  width: 70%;
}

/* Video page styles */
.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 37px 43px;
}
.video {  
  width: 352px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px 25px 20px 20px;
  background-color: #EDF3FC;
}
.video__image {
  border-radius: 25px 25px 0px 0px;
  display: block;
}
.video__info {  
  padding: 15px 10px 15px 20px;
  color: #23395E;
}
.video__title {
  font-size: 20px;
  line-height: 25px;
  font-family: "suisse_intlbold";
  margin-bottom: 5px;
}
.video__button {
  width: 100%;
  height: 60px;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
  font-family: "suisse_intlmedium";
  background: linear-gradient(180deg, #08B1C4 0%, #7EEDFA 100%);
  cursor: pointer;
}
.video__button:hover {
  background: linear-gradient(180deg, #7EEDFA 0%, #08B1C4 100%);
}
.button-completed {
  background: linear-gradient(rgb(8, 196, 113) 0%, rgb(126, 250, 193) 100%);
  cursor: not-allowed;
}
.button-completed:hover {
  background: linear-gradient(rgb(8, 196, 113) 0%, rgb(126, 250, 193) 100%);
}

/* Private cabinet styles */
.cabinet-menu {
  min-width: 100%;
  margin-bottom: 25px;
  padding: 40px 20px 25px 20px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  text-align: center;
  color: #ffffff;
}
.cabinet-menu__file {
  display: none;
}
.cabinet-menu__avatar  {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  border-radius: 50%;
  background-image: url(../images/svg/user.svg);
  background-size: 44px 44px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto 20px;
  cursor: pointer;
}
.cabinet-menu__avatar::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(165deg, rgb(18, 217, 242), transparent 50%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px) content-box content-box, linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}
.cabinet-menu__name {
  line-height: 26px;
  font-family: "suisse_intlbold";
  margin-bottom: 10px;
}
.cabinet-menu__email {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 13px;
  font-family: "suisse_intlmedium";
  margin-bottom: 5px;
}
.cabinet-menu__icon {
  top: -2px;
  position: relative;
  margin-right: 5px;
}
.cabinet-menu__button {
  text-decoration: underline;
  font-size: 13px;
  color: #0EE9FF;
  transition: all .3s linear;
}
.cabinet-menu__button:hover {
  color: #1499a5;
}
.private-cabinet {
  height: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 35px 46px 30px 47px;
}
.private-cabinet__title {
  font-size: 30px;
  color: #23395E;
  font-family: "suisse_intlbold";
  margin-bottom: 10px;
}
.statistic {
  box-shadow: 0px 12px 40px #D2DBEB;
  border-radius: 20px;
  padding: 30px 40px 45px 40px;
}
.statistic__title{
  font-size: 24px;
  line-height: 26px;
  color: #23395E;
  font-family: "suisse_intlbold";
  margin-bottom: 15px;
}
.statistic__subtitle {
  font-size: 18px;
  color: #23395E;
  font-family: "suisse_intlbold";
  margin-bottom: 10px;
}
.statistic__themes {
  color: #A8B6CD;
}
.stat-block {
  margin-bottom: 15px;
  color: #23395E;
  font-size: 14px;
  line-height: 23px;
}
.stat-block__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.stat-block__percent {
  font-family: "suisse_intlbold";
  color: #AFBFD8;
}
.stat-block__percent_purple {
  color: #E04AA8;
}
.stat-block__line {
  width: 100%;
  position: relative;
  height: 7px;
  background-color: #E5EBF4;
  border-radius: 200px;
}
.stat-line {
  width: 0;
  max-width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(90deg, #0EE9FF 0.83%, #0E9AFF 50.42%, #E348A5 100%);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 200px;
}
/* .stat-block__line_hundred::after {
  width: 100%;
}
.stat-block__line_thirty::after {
  width: 30%;
}
.stat-block__line_zero::after {
  display: none;
} */

/* Quiz styles */
.quiz-preview {
  background-color: #EDF3FC;
  border-radius: 20px;
  padding: 25px 30px;
}
.article_quiz .quiz-preview__title {
  position: relative;
  color: #23395E;
  font-size: 18px;
  line-height: 23px;
  font-family: "suisse_intlbold";
  padding-left: 47px;
  margin-bottom: 20px;
}
.article_quiz .quiz-preview__title_done {
  padding-left: 0;
  text-align: center;
}
.article_quiz .quiz-preview__title::before {
  content: '';
  display: block;
  width: 29px;
  height: 28px;
  position: absolute;
  left: 0;
  top: -6px;
  background-image: url(../images/time.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.article_quiz .quiz-preview__title_done::before {
  display: none;
}
.article_quiz .quiz-preview__text {
  font-size: 16px;
  line-height: 23px;
  font-family: "suisse_intlmedium";
  margin-bottom: 22px;
}
.quiz-preview__text_done {
  margin-bottom: 0;
  text-align: center;
}
.quiz-preview__button {
  margin-top: 0;
}
.quiz-preview__span {
  color: #23395E;
}
.quiz-button {
  font-size: 14px;
  padding: 13px 30px;
  margin-left: auto;
  border-radius: 10px;
  font-family: "suisse_intlmedium";
  color: #ffffff;
  transition: all .3s linear;
  cursor: pointer;
}
.quiz-button:hover {
  transform: scale(.95);
}
.quiz-button_correct {
  background: linear-gradient(180deg, #3FD395 0%, #14AF9D 100%);
}
.quiz-button_incorrect {
  background: linear-gradient(180deg, #D33F3F 0%, #C43819 100%);
}
.quiz-button_time {
  margin: 0 auto;
}
.article_quiz .quiz__title {
  margin-bottom: 20px;
  color: #23395E;
  font-size: 18px;
  font-family: "suisse_intlbold";
}
.answer {
	margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.answer__input:checked, 
.answer__input:not(:checked) 
{
    position: absolute;
    left: -9999px;
}
.answer__input:checked + .answer__label, 
.answer__input:not(:checked) + .answer__label {
    display: inline-block;
    position: relative;
    padding-left: 45px;
    line-height: 35px;
    cursor: pointer;
}
.answer__input:checked + .answer__label:before, 
.answer__input:not(:checked) + .answer__label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    border: 2px solid #E2E8F1;
    background-color: #ffffff;
}
.answer__input:checked + .answer__label:before, 
.answer__input:not(:checked) + .answer__label:before {
    border-radius: 6px;
}
.answer__input:checked + .answer__label:after, 
.answer__input:not(:checked) + .answer__label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.answer__input:checked + .answer__label:after, 
.answer__input:not(:checked) + .answer__label:after {
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #23395E;
}
.answer__input:not(:checked) + .answer__label:after {
    opacity: 0;
}
.answer__input:checked + .answer__label:after {
    opacity: 1;
}
.timer {
  width: 270px;
  background-color: #EDF3FC;
  border-radius: 20px;
  padding: 20px 30px;
}
.timer__title {
  position: relative;
  padding-left: 48px;
  color: #23395E;
  font-size: 18px;
  line-height: 23px !important;
  font-family: "suisse_intlbold";
  margin-bottom: 7px !important;
}
.timer__title::before {
  content: '';
  display: block;
  width: 28px;
  height: 29px;
  background-image: url(../images/time.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: -5px;
}
.timer__subtitle {
  font-size: 14px;
  line-height: 23px !important;
  margin-bottom: 10px !important;
}
.timer__time {
  color: #23395E;
  font-size: 35px;
  font-family: "suisse_intlmedium";
  letter-spacing: 0.01em;
  line-height: 23px;
}
.quiz-result {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 12px 33px #CAD1DA;
  border-radius: 15px;
  padding: 29px 28px 29px 33px;
  color: #23395E;
  font-family: "suisse_intlmedium";
  line-height: 22px;
}
.quiz-result::before {
  content: '';
  display: block;
  width: 3px;
  height: 88px;
  border-radius: 200px;
  position: absolute;
  left: 0;
  top: 15px;
}
.quiz-result.hide {
  display: none;
}
.quiz-result_correct::before {
  background-color: #3FD395;
}
.quiz-result_incorrect::before {
  background-color: #D33F3F;
}
.quiz-result_fail::before {
  background-color: #ABB7CC;
}
.quiz-result__image {
  margin-right: 25px;
}
.quiz-result__image_time {
  margin: 0 0 25px 0;
}
.article_quiz .quiz-result__head {
  margin-bottom: 10px;
  font-size: 18px;
}
.quiz-result__text {
  font-size: 14px;
}
.quiz-text {
  font-size: 26px;
}
.quiz-text_correct {  
  color: #3FD395;
}
.quiz-text_fail {
  color: #D33F3F;
}

/* Tasks styles */
.task-header {
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(257.63deg, #36507D 9.71%, #23395E 66.68%);
  border-radius: 20px;
  padding: 30px 30px 35px 20px;
  margin-bottom: 26px;
  cursor: pointer;
}
.task-header.hide {
  display: none;
}
.task-header__image {
  margin-right: 45px;
}
.task-header__info {
  position: relative;
  z-index: 1;
}
.task-header__info::before {
  display: block;
  font-size: 100px;
  line-height: 44px;
  font-family: "suisse_intlbold";
  color: #3C547E;
  position: absolute;
  left: -50px;
  top: -10px;
  z-index: -1;
}
.task-header__info_one::before {
  content: '01';
}
.task-header__info_two::before {
  content: '02';
}
.task-header__title {
  font-family: "suisse_intlbold";
  font-size: 30px;
  line-height: 44px !important;
  color: #ffffff;
  margin-bottom: 20px;
}
.task-header__button {
  display: block;
  width: 210px;
  text-align: center;
  background: #23395E;
  border: 2px solid #0EE9FF;
  box-shadow: 0px 0px 16px rgba(14, 233, 255, 0.33);
  border-radius: 200px;
  color: #ffffff;
  font-size: 16px;
  line-height: 45px;
  font-family: "suisse_intlmedium";
  transition: all .3s linear;
  cursor: pointer;
}
.task-header__button:hover {
  box-shadow: 0px 0px 16px rgba(12, 104, 112, 0.33);
}
.task-head {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: "suisse_intlbold";
  padding: 15px 30px 6px 30px;
  background: linear-gradient(90deg, #3D5782 3.08%, #23395E 100%);
  border-radius: 20px;
  color: #ffffff;
  margin-bottom: 40px;
}
.task-content__subtitle {
  font-family: "suisse_intlmedium";
  font-size: 24px;
  line-height: 32px;
  color: #23395E;
  margin-bottom: 15px;
}
.task-head__image {
  width: 96px;
  margin-right: 35px;
}
.task-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.task-list__number {
  background: linear-gradient(180deg, #08B1C4 0%, #7EEDFA 100%);
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: "suisse_intlbold";
  margin-right: 15px;
  border-radius: 50%;
  padding-top: 5px;
}
.task-list__text {
  font-size: 16px;
  color: #23395E;
  line-height: 22px;
  flex: 1;
}
.task-list__link {
  color: #0DB4C7;
}
.task-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-content {
  display: none;
}
.task-content.active {
  display: block;
}
.task-content__form {
  display: flex;
  align-items: center;
}
.task-content__input {
  width: 494px;
  margin-right: 20px;
  background: #FFFFFF;
  border: 1px solid #D8DEE9;
  border-radius: 15px;
  padding: 16px 23px;
  color: #23395E;
  font-size: 16px;
  font-family: "suisse_intlmedium";
  outline: none;
}
.task-content__input::placeholder {
  color: #23395E;
  font-size: 16px;
  font-family: "suisse_intlmedium";
}

/* Search result styles */
.search-results {
  background-color: #FFFFFF;
  border-radius: 20px;  
  padding: 35px 55px;
}
.search-results__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.search-results__title {
  color: #23395E;
  font-family: "suisse_intlbold";
  font-size: 30px;
  line-height: 34px;
}
.search-results__text {
  font-size: 13px;
}
.search-results__find {
  color: #23395E;
  font-family: "suisse_intlbold";
  font-size: 24px;
}
.search-block {
  background-color: #EDF3FC;
  border-radius: 20px;
  padding: 25px;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .3s linear;
}
.search-block:hover {
  transform: translate(10px);
  background-color: #ffffff;
  box-shadow: 0px 4px 12px #C3CFE1;
}
.search-block__head {
  color: #23395E;
  font-family: "suisse_intlbold";
  font-size: 18px;
}

/* Popup styles */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: all .3s linear;
}
.popup__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;    
  background-color: rgb(0 0 0 / 95%);
}
.popup__close {
  color: #0FC6DA;
  font-size: 18px;
  font-family: "suisse_intlmedium";
  text-decoration: underline;
  cursor: pointer;
  transition: all .3s linear;
}
.popup__close_shot {
  margin-top: 22px;
}
.popup__close_task {
  margin-top: 25px;
}
.popup__close:hover {
  color: #0a7480;
}
.popup__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  max-width: 90%;
  background: #FFFFFF;
  border-radius: 30px;  
  z-index: 9999;
}
.popup__inner_access {
  width: 500px;
  padding: 58px 70px 44px 70px;
}
.popup__inner_shot {
  width: 747px;
  padding: 20px;
}
.popup__wrapper {
  width: 100%;
  border: 2px solid #E9EDF4;
  border-radius: 25px;
  padding: 100px 20px 45px 20px;
  text-align: center;
}
.popup__wrapper_task {
  border: none;
  padding: 0;
}
.file-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.file-form__shot {
  border: 2px solid #E9EDF4;
  border-radius: 25px;
  padding: 100px 20px 45px 20px;
}
.file-form__comment {
  width: 100%;
  text-align: center;
}
.file-form__title {
  color: #23395E;
  font-family: "suisse_intlmedium";
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
}
.file-form__textarea {
  border: 1px solid #D8DEE9;
  border-radius: 15px;
  resize: none;
  width: 100%;
  min-height: 350px;
  padding: 20px;
  color: #23395E;
  font-size: 16px;
  font-family: "suisse_intlmedium";
  outline: none;
}
.file-form__textarea::placeholder {
  color: #23395E;
  font-size: 16px;
  font-family: "suisse_intlmedium";
}
.file-form__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  margin-top: 10px;
}
.file-form__buttons.hide {
  display: none;
}
.file-form__content_mrg {
  margin-bottom: 10px;
}
.popup__title {
  font-size: 22px;
  line-height: 27px;
  color: #23395E;
  text-align: center;
  font-family: "suisse_intlmedium";
  margin-bottom: 25px;
}
.popup__image {
  width: 151px;
  height: 151px;
  object-fit: contain;
  margin-bottom: 44px;
}
.popup__image_shot {
  width: 94px;
  height: 94px;
  margin-bottom: 50px;
}
.popup__title_shot {
  margin-bottom: 10px;
}
.popup__title_time {
  font-size: 20px;
}
.popup__subtitle {
  font-size: 14px;
  color: #647288;
  margin-bottom: 25px;
}
.drop-area.highlight {
  border-color: #0fc6da;
}
.drop-area__button {
  display: block;
  width: 171px;
  margin: 0 auto;
  background-color: #647288;
  border-radius: 200px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 7px 5px;
  font-family: "suisse_intlregular";
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s linear;
}
.drop-area__button:hover {
  transform: scale(1.1);
}
.drop-area__file {
  display: none;
}
.gallery-files {
  display: flex;
  gap: 35px 17px;
  flex-wrap: wrap;
}
.gallery-files__image {
  display: block;
  border-radius: 25px;
  width: 325px;
  height: 233px;
  object-fit: cover;
}
.gallery-files__block {
  position: relative;
  max-height: 233px;
}
.gallery-files__block_min .gallery-files__image{
  width: 160px;
  height: 109px;
}
.gallery-files__trash {
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url(../images/svg/trash.svg);
  background-repeat: no-repeat;
  background-size: 20px 26px;
  background-position: center center;
  cursor: pointer;
}
.gallery-files__block_min .gallery-files__trash {
  width: 45px;
  height: 45px;
  background-size: 15px 19px;
}
.gallery-files__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-files__btn.gallery-files__btn_video.hide {
  display: none;
}
.gallery-files__btn.gallery-files__btn_task.hide {
  display: none;
}
.gallery-files__button {
  display: none;
  width: 316px;
  padding: 20px 10px;
  color: #ffffff;
  font-size: 18px;
  font-family: "suisse_intlmedium";
  text-align: center;
  background: linear-gradient(180deg, #08B1C4 0%, #7EEDFA 100%);
  border-radius: 15px;
  cursor: pointer;
}
.gallery-files__button:hover {
  background: linear-gradient(180deg, #7EEDFA 0%, #08B1C4 100%);
}
.gallery-files__btn_send {
  margin-top: 25px;
}
.gallery-files__btn_send.hide {
  display: none;
}
.button-send {
  width: 316px;
  padding: 20px 10px;
  color: #ffffff;
  font-size: 18px;
  font-family: "suisse_intlmedium";
  text-align: center;
  background: linear-gradient(180deg, #08B1C4 0%, #7EEDFA 100%);
  border-radius: 15px;
  cursor: pointer;
}
.drop-area.open {
  border: none;
  padding: 20px 20px 35px 20px;
}
.drop-area.open .file-form {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}
.drop-area.open .popup__image_shot {
  display: none;
}
.drop-area.open .popup__title_shot {
  display: none;
}
.drop-area.open .popup__subtitle {
  display: none;
}
.drop-area.open .drop-area__button {
  background-color: transparent;
    background-image: url(../images/noimage.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 325px;
    height: 233px;
    border: 2px solid #E9EDF4;
    border-radius: 25px;
}
.drop-area.open .drop-area__button:hover {
  transform: none;
}
.drop-area.open .gallery-files__btn_video {
  margin-top: 50px;
}
.drop-area.open .gallery-files__btn_task {
  margin-top: 50px;
}